PORT=3000
NODE_ENV=development
FRONT_END='http://localhost:5173'
FRONT_END_PROD='http://yourproductiondomain.com'
DATABASE_URL="postgresql://username:password@localhost:5432/stock_opname"
REDIS_URL=redis://localhost:6379
DATABASE_REUSABLE_API="https://s-bit2.muara.co.id/open"
X_API_KEY="your_reusable_api_key_here"
JWT_ACCESS_TOKEN_KEY="your_jwt_access_token_key_here"
BYPASS_TURNSTILE_KEY="your_turnstile_bypass_key"
BYPASS_OTP_KEY="your_otp_bypass_key"
